nav.pagination(role="navigation")
  if page.prev
    span.pagination__prev: a.pagination__link(href=url_for(page.prev.path), title=page.prev.title) &#8612; #{page.prev.title}
  span.pagination__sep  &mdash; 
  if page.next
    span.pagination__next: a.pagination__link(href=url_for(page.next.path), title=page.next.title) #{page.next.title} &#8614;
