if is_post()
  meta(name="description", content=page.description)
else if is_tag()
  meta(name="description", content="Posts I've written about #{page.tag}.")
else if is_archive() && !is_year()
  meta(name="description", content="Every post I've ever written. Arranged by tag and year.")
else if is_year()
  meta(name="description", content="Posts I wrote in #{page.year}.")
else if is_category()
  meta(name="description", content="Posts under the #{page.category} category.")
else if page.layout == 'pattern-lib'
  meta(name="description", content=page.description)
else
  meta(name="description", content=config.description)
