nav.footer-menu.grid.quarters
  ul.footer-menu-section.node.u-null-list-style
    h5.footer-menu__title Social
    li.footer-menu__item
      each network, name in theme.social.networks
        a.footer-menu__link(href=network, title=titlecase(name))
          i.footer-menu__icon(class="icon icon-#{name}")
  ul.footer-menu-section.node.u-null-list-style
    h5.footer-menu__title Typography
    each typeface, key in site.data.pattern_typography
      if key != "title"
        - var transformFamily = typeface.family.split(" ").join("+");
        li.footer-menu__item: a.footer-menu__link(href="https://www.google.com/fonts/specimen/#{transformFamily}")= typeface.family
  ul.footer-menu-section.node.u-null-list-style
    h5.footer-menu__title Meta
    each link, key in theme.meta
      li.footer-menu__item: a.footer-menu__link(href=link, title="My #{titlecase(key)}")= key
  ul.footer-menu-section.node.u-null-list-style
    h5.footer-menu__title Misc
    li.footer-menu__item Generated with #[a.footer-menu__link(href="http://hexo.io") Hexo]
    li.footer-menu__item Coded in #[a.footer-menu__link(href="http://sublimetext.com") Sublime Text]
    li.footer-menu__item Icons served with #[a.footer-menu__link(href="http://grumpicon.com") Grumpicon] and #[a.footer-menu__link(href="http://icomoon.io") Icomoon]