mixin swatch-tree
    each scheme in site.data.pattern_swatches.schemes
      h4.pattern-subtitle=titlecase(scheme.id)
      ul.swatches.u-null-list-style.grid.eighths
        each color, key in scheme
          unless key == "id"
            - for (var i = 1; i <= color.length; i++)
              li.swatches__color.node.u-justify-center(class="#{scheme.id}-#{key}-#{i}")
                span.swatches__name.u-blocked #{key}

.pattern
  h3.pattern-title= site.data.pattern_swatches.title
  +swatch-tree